:root {
  /* Animation setting */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.icon {
  fill: rgba(250, 250, 250, 0.93);
  /* fill: currentColor; */
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(116, 116, 128, 0.18);
  color: rgba(60, 60, 67, 0.6);
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  border-bottom: 1px solid rgba(60, 60, 67, 0.6);
}

.search-form {
  position: relative;
  display: block;
  margin: 16px auto;
  width: 300px;
  height: 36px;
}

.search-btn {
  position: absolute;
  left: 6px;
  top: 4px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.search-icon {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* left: 6px;
  top: 4px; */
}

.search-form input[name='searchQuery'] {
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.93);
  border-radius: 10px;
  border: none;
  padding: 7px 8px 7px 36px;

  font-size: 17px;
  color: inherit;
  letter-spacing: -0.4px;
}

.search-form input[name='searchQuery']::placeholder {
  color: inherit;
  font-size: 17px;
  color: inherit;
  letter-spacing: -0.4px;
}

/* Gallery Styles */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 7px;
}

.gallery__thumb {
  width: 368px;
  height: 208px;
  position: relative;
  overflow: hidden;
}

.gallery__image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;

  background: linear-gradient(
    rgba(60, 60, 67, 0) 0%,
    rgba(60, 60, 67, 0.7) 100%
  );

  transform: translateY(100%);
  transition: transform var(--animation);
}

.gallery__item:hover .gallery__image-overlay {
  transform: translateY(0);
}

.gallery__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.gallery__image-desc {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgba(250, 250, 250, 0.93);
}

/* Info Link Styles */

.info-list {
  justify-content: center;
  gap: 16px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: rgba(250, 250, 250, 0.93);
  cursor: pointer;
}

.info-desc {
  font-size: 12px;
}
